/* line 1, ../scss/example_styles.scss */
.example1 {
  width: 700px;
}
/* line 3, ../scss/example_styles.scss */
.example1[data-slide-mode="slide"] .he_slider .he_view .he_item {
  width: 33.3333% !important;
  padding: 0 2px;
}

/* line 6, ../scss/example_styles.scss */
.example2 {
  width: 146px;
}
/* line 9, ../scss/example_styles.scss */
.example2 .slider-boundary {
  height: 450px;
}
/* line 10, ../scss/example_styles.scss */
.example2[data-slide-mode="slide-vertical"] .he_slider .he_view .he_item {
  height: 33.3333% !important;
  padding: 2px 0;
}
