/* line 4, ../scss/_plugin-sample-styles.scss */
.init_he_slider {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 100%;
}
/* line 7, ../scss/_plugin-sample-styles.scss */
.init_he_slider .slider-boundary, .init_he_slider.slider-boundary {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #F3F3F3;
}
/* line 10, ../scss/_plugin-sample-styles.scss */
.init_he_slider .slider-boundary *, .init_he_slider.slider-boundary * {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
}
/* line 15, ../scss/_plugin-sample-styles.scss */
.init_he_slider .he_prev,
.init_he_slider .he_next {
  cursor: pointer;
}
/* line 18, ../scss/_plugin-sample-styles.scss */
.init_he_slider img {
  max-width: 100%;
  display: block;
}
/* line 19, ../scss/_plugin-sample-styles.scss */
.init_he_slider a {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* line 23, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .slider-boundary, .init_he_slider[data-slide-mode="slide"].slider-boundary,
.init_he_slider[data-slide-mode="slide-vertical"] .slider-boundary,
.init_he_slider[data-slide-mode="slide-vertical"].slider-boundary {
  overflow: hidden;
}
/* line 24, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_slider,
.init_he_slider[data-slide-mode="slide-vertical"] .he_slider {
  position: relative;
}
/* line 27, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_prev,
.init_he_slider[data-slide-mode="slide"] .he_next,
.init_he_slider[data-slide-mode="slide-vertical"] .he_prev,
.init_he_slider[data-slide-mode="slide-vertical"] .he_next {
  position: absolute;
  display: block;
  margin: auto;
}
/* line 31, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_prev:before,
.init_he_slider[data-slide-mode="slide"] .he_next:before,
.init_he_slider[data-slide-mode="slide-vertical"] .he_prev:before,
.init_he_slider[data-slide-mode="slide-vertical"] .he_next:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* line 34, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] {
  padding-left: 50px;
  padding-right: 50px;
  min-width: 254px;
}
/* line 38, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_slider {
  font-size: 0;
  white-space: nowrap;
}
/* line 39, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_view {
  font-size: inherit;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
/* line 40, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
/* line 41, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_prev,
.init_he_slider[data-slide-mode="slide"] .he_next {
  bottom: 0;
  height: 100%;
  width: 50px;
}
/* line 45, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_prev:before,
.init_he_slider[data-slide-mode="slide"] .he_next:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #ccc;
}
/* line 49, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_prev:hover:before,
.init_he_slider[data-slide-mode="slide"] .he_next:hover:before {
  border-color: blue;
}
/* line 51, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"].at_first_slide .he_prev:hover:before, .init_he_slider[data-slide-mode="slide"].at_last_slide .he_next:hover:before {
  border-color: #ccc;
}
/* line 55, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_prev {
  left: 0;
}
/* line 57, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_prev:before, .init_he_slider[data-slide-mode="slide"] .he_prev:hover .init_he_slider[data-slide-mode="slide"] .he_prev:before {
  border-width: 20.875px 25px 20.875px 0;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
}
/* line 64, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_next {
  right: 0;
}
/* line 66, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_next:before, .init_he_slider[data-slide-mode="slide"] .he_next:hover .init_he_slider[data-slide-mode="slide"] .he_next:before {
  border-width: 20.875px 0 20.875px 25px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}
/* line 74, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(1) {
  width: 100%;
}
/* line 75, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(2),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(2) ~ .he_item {
  width: 50%;
}
/* line 77, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(3),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(3) ~ .he_item {
  width: 33.3333%;
}
/* line 79, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(4),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(4) ~ .he_item {
  width: 25%;
}
/* line 81, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(5),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(5) ~ .he_item {
  width: 20%;
}
/* line 83, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(6),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(6) ~ .he_item {
  width: 16.6666%;
}
/* line 85, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(7),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(7) ~ .he_item {
  width: 14.2857%;
}
/* line 87, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(8),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(8) ~ .he_item {
  width: 12.5%;
}
/* line 89, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(9),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(9) ~ .he_item {
  width: 11.1111%;
}
/* line 91, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(10),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(10) ~ .he_item {
  width: 10%;
}
/* line 93, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(11),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(11) ~ .he_item {
  width: 9.0909%;
}
/* line 95, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(12),
.init_he_slider[data-slide-mode="slide"] .he_item:first-child:nth-last-child(12) ~ .he_item {
  width: 8.3333%;
}

/* line 98, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] {
  display: inline-block;
}
/* line 101, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .slider-boundary, .init_he_slider[data-slide-mode="slide-vertical"].slider-boundary {
  display: inline-block;
}
/* line 103, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_view {
  display: block;
}
/* line 104, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item {
  display: block;
}
/* line 106, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_prev,
.init_he_slider[data-slide-mode="slide-vertical"] .he_next {
  height: 50px;
  width: 100%;
  position: relative;
}
/* line 110, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_prev:before,
.init_he_slider[data-slide-mode="slide-vertical"] .he_next:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #ccc;
}
/* line 114, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_prev:hover:before,
.init_he_slider[data-slide-mode="slide-vertical"] .he_next:hover:before {
  border-color: blue;
}
/* line 116, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"].at_first_slide .he_prev:hover:before, .init_he_slider[data-slide-mode="slide-vertical"].at_last_slide .he_next:hover:before {
  border-color: #ccc;
}
/* line 121, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_prev:before, .init_he_slider[data-slide-mode="slide-vertical"] .he_prev:hover .init_he_slider[data-slide-mode="slide-vertical"] .he_prev:before {
  border-width: 0 20.875px 25px 20.875px;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
/* line 129, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_next:before, .init_he_slider[data-slide-mode="slide-vertical"] .he_next:hover .init_he_slider[data-slide-mode="slide-vertical"] .he_next:before {
  border-width: 25px 20.875px 0 20.875px;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
/* line 137, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] img {
  max-height: 100%;
  max-width: 300%;
  height: 100%;
}
/* line 139, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(1) {
  height: 100%;
}
/* line 140, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(2),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(2) ~ .he_item {
  height: 50%;
}
/* line 142, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(3),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(3) ~ .he_item {
  height: 33.3333%;
}
/* line 144, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(4),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(4) ~ .he_item {
  height: 25%;
}
/* line 146, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(5),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(5) ~ .he_item {
  height: 20%;
}
/* line 148, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(6),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(6) ~ .he_item {
  height: 16.6666%;
}
/* line 150, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(7),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(7) ~ .he_item {
  height: 14.2857%;
}
/* line 152, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(8),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(8) ~ .he_item {
  height: 12.5%;
}
/* line 154, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(9),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(9) ~ .he_item {
  height: 11.1111%;
}
/* line 156, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(10),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(10) ~ .he_item {
  height: 10%;
}
/* line 158, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(11),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(11) ~ .he_item {
  height: 9.0909%;
}
/* line 160, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(12),
.init_he_slider[data-slide-mode="slide-vertical"] .he_item:first-child:nth-last-child(12) ~ .he_item {
  height: 8.3333%;
}

/* line 163, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="fade"] {
  display: inline-block;
}
/* line 166, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="fade"] .slider-boundary, .init_he_slider[data-slide-mode="fade"].slider-boundary {
  display: inline-block;
}
/* line 167, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="fade"] .he_slider {
  position: relative;
  display: inline-block;
}
/* line 168, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="fade"] .he_view {
  position: relative;
  top: 0;
  left: 0;
  display: none;
}
/* line 169, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="fade"] .he_item {
  display: inline-block;
}
/* line 172, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="fade"] .he_item a {
  display: inline-block;
}
/* line 177, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="fade"] .he_view.active, .init_he_slider[data-slide-mode="fade"] .he_view.fading-out {
  display: inline-block;
}
/* line 178, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="fade"] .he_view.fading-in {
  z-index: 20;
}
/* line 179, ../scss/_plugin-sample-styles.scss */
.init_he_slider[data-slide-mode="fade"] .he_view.fading-out {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 182, ../scss/_plugin-sample-styles.scss */
.init_he_slider.at_first_slide .he_prev,
.init_he_slider.at_last_slide .he_next {
  opacity: .4;
}
